@using System
@using Sandbox
@using Sandbox.Razor
@using Sandbox.UI
@using Button = BoxBusters.UI.Components.Button

@namespace BoxBusters.UI.GameMenu
@attribute [Route( "/" )]
@attribute [StyleSheet]
@inherits Panel

<root>
	<div class="title">
		@Game.Menu.Package.Title
	</div>
	<div class="controls">
		@if ( Game.InGame )
		{
			<Button OnClick=@LeaveGame Label="#menu.main.leave" />
		}
		else
		{
			<Button Destination="/create" Label="#menu.main.play" />
			<Button Destination="/server/list" Label="#menu.main.servers" />
		}
		
		<Button OnClick=@Quit Label="#menu.main.quit" />
	</div>
</root>

@code
{
	void LeaveGame()
	{
		Game.Menu.LeaveServer( "Leaving game" );
	}

	void Quit()
	{
		Game.Menu.Close();
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( Game.InGame );
	}
}
