$transition-time: 100ms;

.button {
	font-family: Poppins;
	font-size: 28px;
	font-weight: 700;
	background-color: #000a;
	padding: 8px 24px;
	opacity: 0.8;
	flex-shrink: 0;
	transition:
		left $transition-time,
		top $transition-time,
		opacity $transition-time
		color $transition-time;
	cursor: pointer;
	
	&:hover {
		color: white;
		sound-in: ui.button.over;
		opacity: 1;
	}

	&:active {
		sound-in: ui.button.press;
		left: 2px;
		top: 3px;
	}
}