.button {
    font-family: Poppins;
    font-weight: 700;
    background-color: #000a;
    padding: 8px 24px;
    opacity: 0.8;
    flex-shrink: 0;

    &:hover {
        color: white;
        font-weight: 900;
        sound-in: ui.button.over;
        cursor: pointer;
        opacity: 1;
    }

    &:active {
        sound-in: ui.button.press;
        left: 2px;
        top: 3px;
    }
}