@using System
@using Sandbox.UI

@namespace BoxBusters.UI.Components
@attribute [StyleSheet]

<a class="button" onclick=@OnClick href=@Destination>@Label</a>

@code
{
	public Action OnClick { get; set; }
	
	public string Label { get; set; }
	public string Destination { get; set; }
}
